<!-- # File: base.html
# Author: Raquel Gonzalez, raquelgr@bu.edu
# Description: base file for the mini_fb website -->

{% load static %}
<html>
    <head>
        <title>Grey's Anatomy Facebook
        </title>
        <!-- <link rel="stylesheet" href="/static/styles.css"> -->
        <link rel="stylesheet" href="{% static 'styles3.css' %}">
    </head>
    <body>

    <nav>
            <a href="{% url 'show_all_profiles' %}">Main Page</a>
            <a href="{% url 'create_profile' %}">Create New Profile</a>

    </nav>

    {% block content %}
    {% endblock %}
    <footer>
        <p>Seattle Grace Hospital</p>
    </footer>
    </body>
</html>