<!-- # File: create_profile_form.html
# Author: Raquel Gonzalez raquelgr@bu.edu
# Description: html to display the website where users can create profiles -->


{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>Create a New Profile</h2>
    
    <form method="POST">
        {% csrf_token %}
        
        <label for="id_firstName">First Name:</label>
        <input type="text" id="id_firstName" name="firstName" value="{{ form.firstName.value }}">
        <br>

        <label for="id_lastName">Last Name:</label>
        <input type="text" id="id_lastName" name="lastName" value="{{ form.lastName.value }}">
        <br>

        <label for="id_city">City:</label>
        <input type="text" id="id_city" name="city" value="{{ form.city.value }}">
        <br>

        <label for="id_email">Email:</label>
        <input type="email" id="id_email" name="email" value="{{ form.email.value }}">
        <br>

        <label for="id_image_url">Profile Image URL:</label>
        <input type="url" id="id_image_url" name="image_url" value="{{ form.image_url.value }}">
        <br><br>

        <button type="submit">Create Profile</button>
    </form>
{% endblock %}
