{% extends 'quotes/base.html' %}

 {% block content %}
 <h2>About Alexelcapo</h2>
<p>Alexelcapo, born Alejandro García in 1995 in Spain, is a popular YouTuber and content creator known for his engaging gaming videos, humor, and charismatic personality. He gained fame for his entertaining Let's Plays and reaction videos, often showcasing a wide range of games from indie titles to major releases. With millions of subscribers, Alexelcapo has built a dedicated fanbase, and his infectious enthusiasm and relatable commentary have made him a beloved figure in the Spanish-speaking YouTube community. Beyond gaming, he occasionally shares vlogs and collaborations, further showcasing his versatility as a content creator.</p>
{% endblock %}